* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;


}

.nav-item:hover {

    background-color: #d1d1d1;
    border-radius: 10px;
    
}

.navbar-brand img { 
    
    width: 110px;
    height: auto;     
    object-fit: cover;   
    
}

.carousel-item img{

    width: auto;
    height: 450px;


}

label {

    font-size: 20px;
    color: black;
    font-weight: 200;
    font-family: ;
    margin: 15px;
    border-radius: 1px;
    
 
}

.prop-destacadas { 
       
    text-align: center;
    color: black;
    text-decoration: underline;
    padding: 22px;    
    text-shadow: 1px 1px 2px gray;
    
    
}

.imagenes {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    background-color: #f5f5f5;
    
}

.tittle-banner p {

    text-align: center;
    margin: 5px;
    text-decoration: underline;
    font-weight: 600;
   
}

.galeria {

    width: 250px;
    height: 150px;
    margin-bottom: 10px;
    object-fit: cover;
    margin: 10px;
    border-style: groove;
    border-color: #d6d3d3;
       
}

aside.info {
    display: grid;
    padding: 15px;
    gap: 20px;
    justify-items: center;
    align-items: center;            

}

aside .info-maps iframe {
    
    width: 400px;
    max-width: 550px;
    height: 200px;
         
}

aside #info-nosotros {
    border: #000 1px solid;
    padding: 10px;
    margin: 0 10px;
    align-items: center;
    background-color: rgb(245, 243, 243);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
   
     
     
}

aside #info-nosotros h2 {

    text-decoration: underline;
    text-align: center;
    padding: 10px;
    margin: 0 10px;
  
    
}

.txt-contacto {
    
    background-color: white;
    border: 1px solid #000;
    border-color: rgb(221, 218, 218);
    text-align: center;
    width: 100%;
    height: auto;
    padding: 8px;
    font-size: 15px;
      
    
}


#footer {
    font-size: 17px;
    background-color: rgb(235, 235, 235);
}


#footer li {

    font-size: 25px;
}

#footer li:hover {
    background-color: rgb(221, 218, 218);
   
   
}
/* Seccion Compra/Alquiler */


.compra-alquiler {

    text-align: center;
    padding: 10px;
    text-decoration: underline;
    text-shadow: 1px 1px 2px gray;
    font-size: 15px;
        
}


.img-compra {

    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    
    
}
  
.img-compra .tittle-banner-compra {
   
    width: auto;
    margin: 5px;
    background-color:rgb(245, 242, 242);
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    width: auto;
}

.img-compra .tittle-banner-compra h3 {

    text-align: center;
    width: auto;
   
}

.img-compra .tittle-banner-compra h4 {

    text-align: center;
    width: auto;
}

.img-compra .tittle-banner-compra p {

    font-size: 12px;
    text-decoration: none;
    text-align: center;
    width: auto;
       
}

.img-compra .tittle-banner-compra img {
        
    width: 350px;
    height: 200px;    
    object-fit: cover;
    margin: 15px;
    border-style: groove;
    border-color: #d6d3d3;
    border: #a7f7fd solid 1px;   
    
}

/* Seccion Emprendimiento */


.tittle-banner-emprendimiento {


    display: grid;
    margin: 5px;
    border-style: inset;
    padding: 35px;
      
       

}

.tittle-banner-emprendimiento h3 {

    grid-column: 1/3;
    text-align: center;
    text-decoration: underline;
    padding: 15px;
    margin: 0 15px;

}

.tittle-banner-emprendimiento p {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0 15px;
    padding: 10px;
}


.tittle-banner-emprendimiento h4 {

    grid-column: 1/3;
    grid-row: 3/4;
    width: 350px;
    margin: 15px;
    border-style: inherit;
    padding: 10px;
    font-size: 15px;
    background-color: rgb(245, 243, 243);
    text-align: center;
             

}


.tittle-banner-emprendimiento__galeria {
   display: flexbox;
   grid-row: 4/5;
   grid-column: 1/3;

}

  
.galeria-emprendimiento {
    
    flex-wrap: wrap;
    width: 370px;
    height: 250px;
    margin-left: 50px;
    margin: 30px;
    border-style: inherit;
    border:1px solid #a7f7fd;

} 


/* Seccion Contacto */



.contacto-tittle {

    text-align: center;
    color: black;
    text-decoration: underline;
    padding: 15px;    
    text-shadow: 1px 1px 2px gray;


}
           
        
.contacto-banner form{
    height: auto;
	width:100%;
	padding:10px;
	border-radius:10px;
    margin: 5px 0;	
    background-color: rgb(221, 218, 218);
    
        
}
     
.contacto-banner form label{
	width:100%;
	font-weight:bold;
	display:inline-block;
}

.contacto-banner form input{
	width:100%;
	padding:5px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:15px 0;
	display:inline-block;
}

.contacto-banner form input[type="submit"]{
	width:100%;
	padding:5px;
	margin-top:20px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

.contacto-banner form input[type="submit"]:hover{
	background-color:gray;
}

.contacto-banner textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:5px 0;
	resize:none;
	display:block;
} 

.img-contacto img {

    width: 100%;
    height: auto;
    min-height: 680px;
    object-fit: cover;
}



/* seccion alquiler */


.alquiler-seccion {

    display: grid;
    grid-template-columns:1fr;
    justify-items: center;
    padding: 12px;
    margin: 0 15px;
    

}

.card {
    margin: 10px;
}


/* Seccion Publicaciones */


.txt-tittle {

    border: 1px solid #000;
    padding: 15px;
    margin:25px;
    align-items: center;
    font-size: 14px;
    
}

.txt-tittle h1 {

text-align: center;
text-decoration:underline;
padding: 10px;
    
}

.txt-tittle p {

    text-align: center;
    text-decoration: 1px solid black;
    padding: 10px;   
    font-size: 30px; 
   
    
}

.txt-description {
     
    padding: 15px;
    margin: 50px;  
    font-size: 23px;     
  
}


.info-maps_publicaciones iframe{

    width: 650px;
    height: 500px;
    align-items: center;
}



/* secccion publicaciones */

.tittle-banner-publicaciones__galeria img {

    width: 100%;
    margin: 0;
    padding: 10px;
  
}

.tittle-banner-publicaciones {

    border: 1px solid #000;
    width: auto;
    padding: 10px;
    margin: 5px 10px;
    
}

.tittle-banner-publicaciones p {

    font-size: 18px;
    margin: 10px
    

}

.tittle-banner-publicaciones h4 {

    font-size: 24px;
    margin: 10px ;
    border-style: inherit;
    padding: 10px;
    
    
}


.txt-aside_otras-publicaciones {
    text-align: center;
    text-decoration:underline;
    padding: 10px;
    margin: 5px;

}














































































@media (min-width: 558px) /* min= a partir de.. */ {  
    .prop-destacadas { 
       
        text-align: center;
        color: black;
        text-decoration: underline;
        padding: 22px;    
        text-shadow: 1px 1px 2px gray;
        
        
    }
      
      aside.info {
        
        display: grid;
        padding: 35px;
        gap: 50px;
        align-items: center;
        grid-template-columns: 1fr 2fr;
       
        
    
    }

    .compra-alquiler-txt {

        text-align: center;
        padding: 18px;
        text-decoration: underline;
        text-shadow: 1px 1px 2px gray;
    
    }
}
    
    @media (min-width: 703px) {
    .img-compra {
    
        display: grid;
        width: auto;
        justify-content: space-around;
        max-width: 1200px;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
     
                
    
    }
}

    @media (min-width: 1029px) {
        .img-compra {
        display: grid;
        width: auto;
        justify-content: space-around;
        max-width: 1200px;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);

    }

    .img-compra .tittle-banner-compra {
   
        width: auto;
        margin: 5px;
        background-color:rgb(245, 242, 242);
        font-size: 12px;
        text-decoration: none;
        text-align: center;
        
    }
    
       
    .img-compra .tittle-banner-compra img {
        
        width: 300px;
        height: 210px;
        object-fit: cover;
        border-color: rgb(221, 218, 218);
        
    }

 
}


/* seccion alquiler */


@media (min-width: 703px){
.alquiler-seccion {

    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    padding: 12px;
    margin: 0 15px;
    

}

.card {
    margin: 10px;
}
}


@media (min-width: 1029px) {
    .alquiler-seccion {

        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        padding: 12px;
        margin: 0 15px;
        
    
    }
    
    .card {
        margin: 10px;
    }


}

/* seccion contacto */

@media (max-width:764px) {

    .img-contact img {
        display: none;
    }
}

@media (min-width: 765px){
    .img-contact img {
    
        width: 100%;
        height: auto;
        min-height: 650px;
        object-fit: cover;    
        padding: 10px;
    
    }
}
